[user]
    name = stef-the
    email = 75397677+stef-the@users.noreply.github.com

[core]
    excludesfile = ~/.gitignore_global
    autocrlf = input
    editor = code --wait

[init]
    defaultBranch = main

[pull]
    rebase = true

[push]
    autoSetupRemote = true

[filter "lfs"]
    process = git-lfs filter-process
    required = true
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f

[alias]
    st = status
    co = checkout
    br = branch
    lg = log --oneline --graph --decorate -20
    last = log -1 HEAD
    undo = reset HEAD~1 --mixed
